.relative {
    position: relative;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #e13030;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
    z-index: 99;
    pointer-events: none;
  }
  